html {
    font-family: Arial;
}

body {
    margin: 0;
}

#textlogo{
    font-weight: bold;
    color: red;
    font-size: 130%;
}

header {
    background-color: azure;
}

header p {
    margin: 0;
}