html {
    font-family: 'Inter';
}

main{
    padding-left: 2%;
}

body {
    margin: 0;
}

#textlogo{
    font-weight: bold;
    color: red;
    font-size: 130%;
    flex: 1;
}

header {
    background-color: azure;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lora';
    padding-left: 2%;
}

nav{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    font-family: 'Inter';
    padding-right: 2%;
}

nav p {
    padding-left: 0;
    white-space: nowrap;
}

header p {
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 0.2%;
}