html {
    font-family: 'Inter';
}

main{
    padding-left: 2%;
    padding-right: 2%;
}

body {
    margin: 0;
}

#textlogo{
    font-weight: bold;
    color: red;
    font-size: 130%;
    flex: 1;
}

header {
    background-color: azure;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lora';
    padding-left: 2%;
}

nav{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    font-family: 'Inter';
    padding-right: 2%;
}

nav p {
    padding-left: 0;
    white-space: nowrap;
}

header p {
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 0.2%;
}

  .tile {
    flex: 1;             /* Makes both tiles equal width */
    height: 200px;
    background:  #a6d6e9;
    border: 2px solid #c4f7c1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #services {
    display: flex;       /* Aligns items side-by-side */
    gap: 20px;           /* Adds space between tiles */
  }

  footer {
    padding: 2%;
    background-color: #000000;
    justify-content: space-between;
    color: white;
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  footer a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  main {
    margin-bottom: 2%;
  }
